// Couleurs
$primary-color: #FF6060;
$bg-grey: #F6F6F6;
$text-color: #000000;

// Typographie
$main-font: 'Montserrat', sans-serif;

// Layout & UI
$main-radius: 25px;
$card-radius: 10px;
$max-width: 1240px;