// Couleurs
$primary-color: #ff6060;
$bg-grey: #f6f6f6;
$text-color: #000000;

// Typographie
$main-font: "Montserrat", sans-serif;

// Layout & UI
$main-radius: 25px;
$card-radius: 10px;
$max-width: 1240px;
